body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem;
  align-items: flex-start;
}

.url-form {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: flex-start;

  label {
    font-weight: bold;
  }
}

.status {
  padding-left: 1rem;
}

.url-input {
  width: 20rem;
}

.allow-access-img {
  width: 686px;
  height: 49px;
}
